html,
body {
  margin: 0;
  /* height: 100%;
  overflow: hidden; */
}

.page-container {
  position: absolute;

  width: 100%;
  /* height: 4000px; */
}
  
.webgl {
  position: fixed;
  z-index: -1;
}
  
.content-container {
  margin: 40px;
  width: 30vw;
  color: white;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  margin-top: 0%;
}

section h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.title p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#load-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  background-color: turquoise;
  text-transform: uppercase;
}

#input-field {
  margin-left: 20px;
}

footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(97, 110, 64);
}