html,
body {
  margin: 0;}

.page-container {
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  
  width: 100%;
  height: 4000px;
}
  
.webgl {
  position: fixed;
  z-index: -1;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
}

.section {
  width: 50vw;
}

section h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.title p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#explore {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  background-color: turquoise;
  text-transform: uppercase;
}

footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(97, 110, 64);
}