html,
body {
  margin: 0;
  height: 100%;
  background-color: rgb(99, 99, 99);
  overscroll-behavior: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
  
.container {
  position: absolute;
  top: left;
  left: 0;
  width: 100%;
}

.webgl {
  left: 0;
  background-color: rgb(255, 0, 149);
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(137, 184, 10);
  opacity: 1;
}

h1 {
  display: flex;
  font-size: 60pt;
  color: rgb(0, 0, 0);
}

.title-container {
  background-color: rgb(29, 103, 151);
  left: 0;
} 

.title {
  color: azure;
  padding-left: 4rem;
  
}

section {
  width: 50%;
  text-align: center;
  /* display: flex; */
}

#explore {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5rem;
  font-weight: 500;
  background-color: turquoise;
  text-transform: uppercase;
}

footer {
  color: rgb(97, 110, 64);
}